<!DOCTYPE html>
<% 
let options = [
    {
        title:"Пароль админа*",
        id:"pass"
    },
    {
        title:"id страны*",
        help:"Можно использовать английские буквы и тире(-), напр: banana-republic",
        id:"idc"
    },
    {
        title:"Рейтинг страны",
        id:"rank",
        help:"цифра"
    },
    {
        title:"Имя страны*",
        id:"name",
        help:"Например Банановая республика"
    },
    {
        title:"Ссылка на фото флага страны*",
        id:"img",
        help:"Желательно фото с сайта imgur"
    },
    {
        title:"Тип правления*",
        id:"type",
        help:"Например монархия"
    },
    {
        title:"Описание*",
        id:"description",
        help:"Например Здесь все едят бананы"
    },
    {
        title:"Правитель*",
        id:"owner",
        id:"Например Бананов Бананоед"
    },
    {
        title:"Контакт правителя*",
        id:"contact",
        help:"Например https://vk.com/example"
    },
    {
        title:"Дата основания*",
        id:"date",
        help:"Например 22.02.2021"
    },
    {
        title:"Сайт",
        id:"site",
        help:"Ссылка"
    },
    {
        title:"Страница в вк",
        id:"vk",
        help:"Ссылка"
    },
    {
        title:"Соответствие стандарту ERTH2",
        id:"verified",
        help:"Пусто если нет, half если частично соответствует, что угодно если полностью соответствует"
    },
]
%> 
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <title>Добавить государство</title>
    </head>
    <body>
        <script src="/public/js/prevent.js"></script>
        <%- include("../components/menu") %>
        <div class="container">
            <form action="/addcountry" method="post">
                <%
                    for(let i=0; i<options.length; i++) {
                        %>
                        <div class="row m-5">
                            <div class="col-lg-12"><label class="form-label"><%=options[i].title%></label></div>
                            <div class="col-sm-12">
                                <input type="text" name="<%=options[i].id%>" id="<%=options[i].id%>" class="form-control">
                        <%
                                if(options[i].help) %><div class="form-text"><%=options[i].help%></div><%
                        %>
                            </div>
                        </div>
                        <%
                    }
                %>
                <div class="row m-5">
                    <input type="submit" value="Отправить" class="btn btn-dark">    
                </div>
            </form>
        </div>
    </body>
</html>