<!DOCTYPE html>
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <title>Валюты - MOVC</title>
    </head>
    <body>
        <%- include("../components/menu") %> 
        <div class="container borderc" style="background-color: #f8f9fa;">
            <div class="alert alert-dark text-center" style="border-radius: 20px; padding: 5px;" role="alert">
                Зарегистрировано валют: <%= valutes.length %>
            </div>
            <%
                for(let i = 0; i<valutes.length; i++){
                    %>
                        <%- include("../components/valute-card", {i}) %>
                    <%
                }  
            %>
        </div>
    </body>
</html>