<!DOCTYPE html>
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <%- include("../components/wow") %>
        <meta name="description" content="Виртуальные валюты в регистре MOVC"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/public/js/valute.js"></script>
        <script src="/public/js/money.js"></script>
        <title>Валюты - MOVC</title>
        <style>
            html{
              overflow-x: hidden;
            }
          </style>
    </head>
    <body>
        <%- include("../components/menu") %> 
        <div class="container borderc" style="background-color: #f8f9fa;">
            <div class="alert alert-dark text-center" style="border-radius: 20px; padding: 5px;" role="alert">
                Зарегистрировано валют: <%= valutes.length %> <a href="/currencyedit">Изменить курс</a>
            </div>
            <div class="alert alert-success" style="border-radius: 20px; padding: 5px;" role="alert">
                <div class="row text-center">
                    <div class="col text-center mb-2">
                        Конвертер
                    </div>
                </div>
                <div class="row">
                    <div class="col pr-1">
                        <input type="number" id="amount" autocomplete="off" class="form-control bordert" placeholder="Количество">
                    </div>
                    <div class="col pl-0 pr-1">
                        <select id="fcode" class="form-control bordert"></select>
                    </div>
                    <div class="col pl-0 pr-1">
                        <select id="code" class="form-control bordert"></select>
                    </div>
                    <div class="col pl-0 pr-1">
                        <input class="btn btn-secondary bordert" type="button" id="get" value="Узнать">
                    </div>
                    <div class="col pl-1" id="coursetotal"></div>
                </div>
            </div>
            <%
                for(let i = 0; i<valutes.length; i++){
                    %>
                        <%- include("../components/valute-card", {i}) %>
                    <%
                }  
            %>
        </div>
    </body>
</html>