<!DOCTYPE html>
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <%- include("../components/wow") %>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/public/js/valute.js"></script>
        <script src="/public/js/chart.js"></script>
        <script src="/public/js/money.js"></script>
        <title>Валюта - <%= name %> </title>
        <meta name="description" content="<%= name %> (<%= idc %>) - курс в Долларах США: <%= usd %>"/>
        <meta id="id" content="<%= idc %>">
        <style>
            html{
              overflow-x: hidden;
            }
          </style>
    </head>
    <body>
        <%- include("../components/menu") %> 
        <div class="container borderc" style="background-color: #f8f9fa;">
            <div class="row">
                <% 
                    if(typeof img === "undefined"){
                        img = "https://i.imgur.com/c1o49lc.png";
                    }
                %> 
                <div class="col-sm-12 col-md animate__backInLeft wow">
                    <img class="bordert" style="width: 100%;" src="<%= img %>">
                </div>
                <div class="col-sm-12 col-md animate__fadeInRight wow">
                    <div class="row" style="margin: 5px;">
                        <h2 class="text-center bg-primary bordert" style="color: white;">
                            <%= idc %> - <%= name %> 
                        </h2>
                    </div>
                    <%  
                        if(typeof course !== "undefined"){
                            %>
                                <div class="row">
                                    <canvas id="course" height="200" role="img"></canvas>
                                </div>
                            <%
                        }
                    %>
                    <div class="row">
                        <h4 class="col">RUB: <span id="RUB">undefined</span></h4> 
                    </div>
                    <div class="row">
                        <h4 class="col">USD: <span id="USD"><%= usd %></span></h4> 
                    </div>
                    <div class="row">
                        <h4 class="col">EUR: <span id="EUR">undefined</span></h4> 
                    </div>
                    <div class="row mb-2">
                        <div class="col pr-1">
                            <input type="number" id="amount" autocomplete="off" class="form-control bordert" placeholder="Количество">
                        </div>
                        <div class="col pl-0 pr-1">
                            <select id="code" class="form-control bordert"></select>
                        </div>
                        <div class="col pl-0 pr-1">
                            <input class="btn btn-secondary bordert" type="button" id="get" value="Узнать">
                        </div>
                        <h3 class="col-12 text-center pl-1 pr-1" id="coursetotal"></h3>
                    </div>
                </div>
                <script>
                    async function get(){
                        let data = <%- typeof course !== "undefined" ? course : "" %>;
                        let diff = data[data.length-1].value-data[data.length-2].value;
                        let bg;
                        if (diff>=0) bg = "rgba(0, 143, 0, 0.7)";
                        else bg = "rgba(231, 103, 103, 0.7)"; 
                        function getKeys(data){
                            data = data.slice(-20);
                            let arr = [];
                            for(let i = 0; i<data.length; i++){
                                arr.push(data[i].strtime)
                            }
                            return arr;
                        }
        
                        function getVal(data){
                            data = data.slice(-20);
                            let arr = [];
                            for(let i = 0; i<data.length; i++){
                                arr.push(data[i].value)
                            }
                            return arr;
                        }
                        var lineChartData = {
                        labels: getKeys(data),
                        datasets: [{
                            label: '<%-idc%> за <%-type%>',
                            labelColor: '#fff',
                            pointBorderColor: 'white',
                            borderColor: 'white',
                            backgroundColor:bg,
                            fill:true,
                            borderWidth: 1,
                            data: getVal(data)
                        }]
                        }
                        
                        var options = {
                            responsive: true,
                            maintainAspectRatio: false,
                        };
                        Chart.defaults.color = "black";
                        var ctx = document.getElementById('course');
        
                        var chart = new Chart(ctx, {
                            type: 'line',
                            data: lineChartData,
                            options: options,
                        });
                    }
                    get()
                </script>
            </div>
        </div>
    </body>
</html>